/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway:400,700");
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

@media screen and (min-width: 375px) {
  .fylo-logo {
    width: 85px;
    height: 25px;
    background: url("/images/logo.svg");
    text-indent: -999999px;
    background-size: cover; }
  .nav-items {
    display: flex;
    list-style-type: none;
    align-items: center; }
    .nav-items li:first-child {
      margin-right: auto; }
    .nav-items a {
      display: block;
      font-family: "Raleway", sans-serif;
      color: white;
      font-size: 1.2rem;
      margin: 0.5rem;
      padding-right: 0.4rem;
      transition: all 0.2s ease-in-out; }
      .nav-items a:hover {
        transform: scale(1.1);
        font-weight: 700; }
  .intro-img {
    text-align: center; }
    .intro-img img {
      width: 450px;
      max-width: 90%;
      max-height: 350px; }
  .top-container {
    background: url(/images/bg-curvy-mobile.svg) no-repeat;
    background-size: 120%;
    background-position: bottom;
    background-color: #202a3c;
    padding-top: 1rem; }
  .intro-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1rem; }
  .intro-header {
    padding: 0 2rem 0 2rem;
    line-height: 3rem; }
  .intro-text {
    font-size: 1.1rem;
    padding: 0 2rem 0 2rem; }
  .get-started {
    align-self: center; }
    .get-started a {
      display: block;
      font-family: "Raleway", sans-serif;
      color: white;
      margin: 1rem;
      width: 20rem;
      height: 4rem;
      padding: 0 20px 0 20px;
      border-radius: 30px;
      background: linear-gradient(90deg, #65e2d9 10%, #339ecc 90%);
      font-weight: 700;
      padding-top: 15px; }
  .fylo-services {
    background: #181f2a;
    display: flex;
    flex-direction: column;
    padding: 5rem 1.5rem 5rem 1.5rem; }
  .fylo-service {
    text-align: center;
    margin-bottom: 3rem;
    color: white; }
  .service-header {
    font-size: 1.5rem; }
  .service-description {
    padding: 0 2rem 0 2rem; }
  .fylo-about {
    background: #181f2a;
    display: flex;
    flex-direction: column;
    padding: 0 1rem 5rem 1rem; }
    .fylo-about a {
      display: block;
      width: 14rem;
      padding-left: 2rem;
      font-family: "Raleway", sans-serif;
      color: #65e2d9;
      font-size: 1.1rem; }
    .fylo-about .underline {
      border-top: 1px solid #65e2d9;
      width: 11.5rem;
      margin-left: 2rem; }
  .productive-img-container {
    text-align: center; }
    .productive-img-container img {
      width: 450px;
      max-width: 90%;
      max-height: 350px; }
  .about-header {
    padding: 0 2rem 0 2rem;
    font-size: 1.5rem; }
  .about-text {
    font-size: 1.1rem;
    padding: 0 2rem 0 2rem; }
  .fylo-testimonials {
    padding: 4rem 0 4rem 0;
    background: #181f2a;
    display: flex;
    flex-direction: column;
    position: relative; }
  .quote-img {
    width: 2rem;
    left: 3rem;
    position: absolute; }
  .fylo-testimonial {
    background: #202a3c;
    padding: 1.5rem;
    color: white;
    height: 17rem;
    border-radius: 5px;
    line-height: 1.5rem; }
    .fylo-testimonial p {
      padding: 0.5rem; }
  .who-said {
    display: flex;
    align-items: center; }
  .author-img-container {
    padding: 1rem; }
    .author-img-container img {
      border-radius: 100px;
      width: 40px; }
  cite {
    font-style: normal; }
    cite:first-child {
      letter-spacing: 2px;
      font-weight: 700; }
  .support-container {
    padding: 4rem 0 4rem 0;
    background: linear-gradient(180deg, #181f2a 50%, #0b1523 50%);
    display: flex;
    flex-direction: column;
    align-items: center; }
  .fylo-support {
    color: white;
    background: #181f2a;
    width: 90%;
    text-align: center;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0px 4px 20px 3px rgba(0, 0, 0, 0.35); }
    .fylo-support h2 {
      font-size: 1.5rem; }
    .fylo-support p {
      font-size: 1.1rem;
      padding: 0 2rem 0 2rem; }
    .fylo-support input[type=email] {
      margin: 1rem;
      width: 20rem;
      height: 4rem;
      padding: 0 20px 0 20px;
      border-radius: 30px;
      border: none; }
    .fylo-support input[type=submit] {
      margin: 1rem;
      width: 20rem;
      height: 4rem;
      padding: 0 20px 0 20px;
      border-radius: 30px;
      background: linear-gradient(90deg, #65e2d9 10%, #339ecc 90%);
      font-weight: 700;
      cursor: pointer;
      border: none;
      color: white; }
  .fylo-footer {
    display: flex;
    flex-direction: column;
    background: #0b1523;
    color: white;
    padding: 2rem; }
  .logo-footer,
  .fylo-location {
    padding: 1rem; }
  .fylo-location {
    font-style: normal; }
    .fylo-location span img {
      padding-right: 1rem; }
    .fylo-location p:first-child {
      padding-left: initial; }
    .fylo-location p {
      padding-left: 2rem; }
  .fylo-tel-container span img {
    padding-right: 1rem; }
  .fylo-email-container span img {
    padding-right: 1rem; }
  .fylo-email-container a {
    font-family: "Raleway", sans-serif;
    color: white; }
  .footer-links,
  .footer-links-2 {
    list-style-type: none; }
    .footer-links li,
    .footer-links-2 li {
      padding-bottom: 1rem; }
      .footer-links li a,
      .footer-links-2 li a {
        font-family: "Raleway", sans-serif;
        color: white;
        font-size: 1.3rem; }
        .footer-links li a:hover,
        .footer-links-2 li a:hover {
          font-weight: 700; } }

.intro-header,
.intro-text,
.about-header,
.about-text {
  color: white; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box;
  font-size: 14px; }

body {
  font-family: "Open Sans", sans-serif;
  line-height: 2rem; }
